@import '~@angular/material/theming';
@import "~src/assets/theme/rfof-light-pallete.scss";
@mixin rfof-module-popup-ml() {
	$background: mat-color($rfof-accent, 500);
	$background-opacity: map-get($rfof-light-theme-background, popup-opacity);
	$header-background: mat-color($rfof-accent, 500);
	$foreground: map-get($rfof-light-theme-foreground-invert, text);
	$handle-size: 28px;

	.popup-handle{
		border: 1px solid $background;
		border-top-left-radius: $handle-size * 2;
  		border-top-right-radius: $handle-size * 2;
  		opacity: $background-opacity;
		background: $background;
		width: $handle-size;
		height: $handle-size
	}

	.popup-container{
		width: 90px;
	}

	.popup-header{
		background: $header-background;
		font-size: 14px;
		color: $foreground;
	}  

	.popup-header-title{
		font-weight: bold;
		padding: 5px;
	}

	.popup-header-subtitle{
		padding-left: 5px;
		padding-right: 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.popup-body {
		opacity: $background-opacity;
		background: $background;
		font-size: 14px;
		color: $foreground;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@include rfof-module-popup-ml();