<mat-list role="list">
  <mat-list-item role="listitem">
  <button mat-icon-button color="primary">
    <img src="assets/button/default_nav_button.png" />
  </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-icon-button color="primary">
    <img src="assets/button/default_nav_button.png" />
  </button>
  </mat-list-item>
  <mat-list-item role="listitem">
    <button mat-icon-button color="primary">
    <img src="assets/button/default_nav_button.png" />
  </button>
  </mat-list-item>
</mat-list>