%status-led {
	width: 22px;
	height: 22px;
}

.status-led-1 {
	@extend %status-led;
	background-image: url('/assets/led/led-1.png');
}

.status-led-0 {
	@extend %status-led;
	background-image: url('/assets/led/led-2.png');
}
