@import '~@angular/material/theming';
@import "~src/assets/theme/rfof-light-pallete.scss";

@mixin rfof-group-switch-ml() {
	$background: mat-color($rfof-primary);
	$foreground: map-get($rfof-light-theme-foreground, text);

	button {
		margin-left: 10px;
	}
	mat-form-field {
		width: 150px;
	}
}

@include rfof-group-switch-ml();
