.info-container {
	display: block;
	width: 300px;
	min-height: 100px;
	background: #08253d;
	color: #ffffff;
	padding: 20px;
	margin-bottom: 4px;
}
.info-title {
	font-size: 36px;
}

.info-body p {
	font-size: 14px;
}