<div class="module-container">
	<div class="module-header" (click)="onConfigure(module)">
		<div class="status-led-container">
			<rfof-module-led [module]="module"></rfof-module-led>
		</div>
		<div class="status-body">
			<div class="module-header-title" [matTooltip]="module.name | titlecase">{{module.name | titlecase}}</div>
			<div class="module-header-subtitle" [matTooltip]="getGroupName() | titlecase">{{getGroupName() | titlecase}}</div>
		</div>
	</div>
	<div class="module-body">
		<span class="module-body-line">{{toTypeName(module.type) | titlecase}}</span>
		<span class="module-body-line">{{module.slotLabel}}</span>
		<span class="module-body-line"><span *ngIf="isNotBiasTNone()">BiasT {{toBiasTName(module.biasT) | titlecase}}</span><span *ngIf="!isNotBiasTNone()">&nbsp;</span></span>
	</div>
</div>
<!--div [class]="'module-led-button module-line-led-' + module.statusLED" cdk-overlay-origin (click)="onClick()"></div-->