@import '~@angular/material/theming';
@import "~src/assets/theme/rfof-light-pallete.scss";
@mixin rfof-app-ml() {
	$body-background: map-get($rfof-light-theme-background, body);
	$sidenav-background: map-get($rfof-light-theme-background, sidenav);
	$pane-background: map-get($rfof-light-theme-background, panel);

	.app-container {
		height: 100vh;
		background: $body-background;
	}

	mat-sidenav {
		width: 50px;
		background: $sidenav-background;
	}

	.left-pane {
		display: block;
		width: 300px;
		float: left;
	}

	.right-pane {
		width: 800px;
		padding-left: 4px;
		display: flex;
		flex-wrap: wrap;
	}

	.body-pane{
		display: block;
		background: $pane-background;
		margin-bottom: 4px;
		padding-right: 50px;
	}

	.power-pane {
		padding-top: 110px;
		padding-left: 4px;
		padding-right: 30px;
		margin-bottom: 4px;
		display: block;
		background: $pane-background;
	}

	rfof-cage-visual {
		width: 546px;
		margin-top: 130px;
		margin-bottom: 50px;
	    display: block;
	}

	rfof-cage-toolbar{
		width:100%;
	}

}

@include rfof-app-ml();


