<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened>
  	<rfof-navbar></rfof-navbar>
  </mat-sidenav>
  <mat-sidenav-content>
  	<div class="left-pane">
          <rfof-cage-info OID=".1.3.6.1.4.1.40570.1"></rfof-cage-info>
          <rfof-cage-groups OID=".1.3.6.1.4.1.40570.1"></rfof-cage-groups>
    </div>
    <div class="right-pane">
      <div class="body-pane">
        <rfof-cage-visual OID=".1.3.6.1.4.1.40570.1"></rfof-cage-visual>
      </div>
      <rfof-cage-toolbar OID=".1.3.6.1.4.1.40570.1"></rfof-cage-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>




