<div class="overlay-container">
	<div class="header">
		<div class="header-logo"><img src="assets/small_logo.png"></div>
		<div class="header-title">RF Optic - Configuration tool</div>
	</div>
	<div class="main">
		<div class="status">
			<rfof-module-led class="status-led" [module]="module" wide="true"></rfof-module-led>
			<div class="status-body">
				<div class="status-body-title">S\N:{{module.serial}}</div>
				<div class="status-body-text">P/N:{{module.partNumber}}, Rev:{{module.fwVer}}</div>
			</div>
		</div>
		<div class="info">
			<div class="info-form">
				<div class="label-head">{{toModuleTypeName(module.type) | titlecase}} module settings</div>
				<div class="info-form-section">
					<mat-checkbox (change)="toggleLna($event)" *ngIf="!module.lnaDisabled" [disabled]="module.lnaDisabled" [(ngModel)]="module.lnaOn" class="label-field">LNA ON (Max RF input + 15dBm)</mat-checkbox>
				</div>
				<mat-divider></mat-divider>
				<div class="info-form-section">
					<div class="info-form-section-cell">
						<div class="label-field">Attrnuation [dB] <br> (2dB recommended)</div>
						<input #atten matInput (blur)="setAtten()" class="info-form-input" type="number" [(ngModel)]="module.attenValue" [ngModelOptions]="{updateOn: 'blur'}" step="0.5" max="31.5">
					</div>
					<div class="info-form-section-cell">
						<div class="label-field">Optical power <br> [mW]</div>
						<input disabled="true" class="info-form-input" matInput type="number" [(ngModel)]="module.optPower" step="0.1" [(value)]="module.optPower">
					</div>
					<div placeholder="select type" class="info-form-section-cell">
						<div class="label-field" *ngIf="!module.biasTDisabled">BiasT</div>
						<mat-select *ngIf="!module.biasTDisabled" (selectionChange)="setBiasT()" [(ngModel)]="module.biasTValue">
							<mat-option value="none">None</mat-option>
							<mat-option [disabled]="module.biasTDisabled" value="off">Off</mat-option>
							<mat-option [disabled]="module.biasTDisabled" value="on">On</mat-option>
							<mat-option [disabled]="module.biasTDisabled" value="alwayson">Allways on</mat-option>
							<mat-option [disabled]="module.biasTDisabled" value="autoplay">Autoplay</mat-option>
						</mat-select>
					</div>
				</div>
				<mat-divider></mat-divider>
				<div class="info-form-section">
					<div class="info-form-section-cell">
						<mat-checkbox *ngIf="!module.laserDisabled" (change)="toggleLaser($event)" class="label-field" [disabled]="module.laserDisabled" [(ngModel)]="module.laserOn" >Laser on</mat-checkbox>
					</div>
					<div class="info-form-section-cell">
						<mat-checkbox (change)="toggleMeasRFLevel($event)" [(ngModel)]="module.measRfLevelOn" class="label-field">Show RF level</mat-checkbox>
					</div>
					<div class="info-form-section-cell">
						<input class="info-form-input" disabled matInput type="number" [(ngModel)]="module.rfLevelValue" disabled>
					</div>
				</div>
				<div class="info-form-section">
					<div class="info-form-section-cell">
						<mat-checkbox class="label-field" [(ngModel)]="module.rfLinkTestOn" (change)="toggleRflinkTest($event)">RF Link Test <br>(Inject pilot signal)</mat-checkbox>
					</div>
					<div class="info-form-section-cell">
						<div class="label-field">RF injection auto shutdown in <br> [hh:mm:ss]</div>
					</div>
					<div class="info-form-section-cell">
						<mat-progress-bar class="rflinktest-progress-bar" [(value)]="module.rfTestTimerLeft" mode="determinate"></mat-progress-bar>
						<input #rfLinkTestTime class="info-form-time-input" matInput type="text" placeholder="[hh:mm:ss]" [(ngModel)]="module.rfLinkTestTime" [ngModelOptions]="{updateOn: 'blur'}" step="2" (blur)="setRfLinkTestTime()">
					</div>
				</div>
				<mat-divider></mat-divider>
				<div class="info-form-expansion-section">
					<mat-expansion-panel class="expansion-panel">
					  <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
					    <mat-panel-title>
					      Advanced setting
					    </mat-panel-title>
					  </mat-expansion-panel-header>
						  <div class="shadow-box"></div>
						  <div class="panel-body hidden-box">
						  	<div class="panel-head">Module controller mode</div>
							<div class="panel-radio-container">
								<mat-radio-group [(ngModel)]="module.monPlanValue" (change)="setMonPlan($event)">
							  		<mat-radio-button class="label-field space-between-radio" value="sleep">Quiet (On USB disconnect)</mat-radio-button>
							  		<mat-radio-button class="label-field" value="active">Automatic Control</mat-radio-button>
							  	</mat-radio-group>
							</div>
							<div class="panel-row">
								<div class="info-form-section-widecell">
									<div class="label-field label-padding">Monitor Interval</div>
									<div>
										<mat-progress-bar class="monInterval-progress-bar" [(value)]="module.monTimerLeft" mode="determinate"></mat-progress-bar>
										<input #monInterval matInput class="info-form-time-input" type="text" placeholder="[hh:mm:ss]" step="2" [(ngModel)]="module.monInterval" [ngModelOptions]="{updateOn: 'blur'}" (blur)="setMonInterval(monInterval.value)">
									</div>
								</div>
								<div class="info-form-section-widecell">
									<div class="label-field label-field-narrow">Optical Alarm Level [mW]</div>
									<input class="info-form-input" matInput type="number" [(ngModel)]="module.optAlarmLevel" step="0.1" disabled>
								</div>
							</div>
							<div class="panel-row">
								<div class="info-form-section-widecell">
									<div class="label-field label-padding">Temprature Deg C</div>
									<input disabled="true" matInput class="info-form-input" type="number" [(ngModel)]="module.temp" step="0.1">
								</div>
								<div class="info-form-section-widecell">
									<div class="label-field label-padding">DFBBias</div>
									<input disabled="true" matInput class="info-form-input" type="number" [(ngModel)]="module.dfbBias" step="0.1">
								</div>
							</div>
						</div>
					</mat-expansion-panel>
				</div>
			</div>
		</div>
	</div>
	<div class="aside">
		<button class="aside-button" mat-flat-button color="primary" (click)="setDefaults($event)">Set as Default</button>
		<button class="aside-button" mat-flat-button color="primary" (click)="restoreFactory($event)">Restore Factory setup</button>
	</div>
	<div class="bottom">
		<div class="bottom-messages">
			<div id="messages">{{message}}</div>
		</div>
		<div class="bottom-buttons">
			<button mat-flat-button class="bottom-button" [mat-dialog-close]="true">Quit</button>
		</div>
	</div>
	<div class="spinner-container" *ngIf="module.updating" name="spinnerContainer" #spinnerContainer>
		<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
	</div>
</div>
