@import '~@angular/material/theming';
@import "~src/assets/theme/rfof-light-pallete.scss";
@mixin rfof-cage-visual-ml() {
	.cage-container {
		width: 1024px;
	}

	.cage-slots {
		width: 1024px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		z-index: 111;
	}

	.cage-slot {
		flex-basis: 121px;
		opacity: 1;
	}

	.cage-visual {
		width: 1024px;
		display: flex;
		justify-content: center;
	}

	/*.visual_S4, .visual_I2 {
		margin-top: 80px;
	}

	.visual_I1, .visual_R1 {
		margin-top: 80px;
	}

	.visual_UG  {
		margin-top: 110px;
	}

	.visual_UT {
		margin-top: 115px;
		padding-right: 140px;
	}*/

	.selected-slot {
		opacity: 1;
	}

	rfof-module-visual{
		width: 121px;
		height: 50px;
	}
}

@include rfof-cage-visual-ml();
