.module-line-led-0 {
	background-image: url('/assets/led/led-0.png');
}

.module-line-led-1 {
	background-image: url('/assets/led/led-1.png');
}

.module-line-led-2 {
	background-image: url('/assets/led/led-2.png');
}