<div class="container">
	<mat-accordion multi="true">
		<mat-expansion-panel #panel (closed)="closeAll(group, panel)" (opened)="selectAll(group)" [expanded]="isSelected(group)" *ngFor="let group of groups">
		    <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
		        <rfof-cage-group-header [group]="group"></rfof-cage-group-header>
		    </mat-expansion-panel-header>
		    <rfof-cage-group [group]="group" [modules]="getGroupModules(group)"></rfof-cage-group>
			<mat-action-row>
				<rfof-group-switch [group]="group"></rfof-group-switch>
		  	</mat-action-row>
		</mat-expansion-panel>
	</mat-accordion>
</div>
