<div class="container">
	<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
			<rfof-cage-group-module *ngIf="node.item.slotStatus" [module]="node.item"></rfof-cage-group-module>
			<button *ngIf="node.item.modules" mat-icon-button matTreeNodeToggle
		            [attr.aria-label]="'toggle ' + node.filename">
		      <mat-icon class="mat-icon-rtl-mirror">
		        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
		      </mat-icon>
		    </button>
			<rfof-cage-group-header *ngIf="node.item.modules" [group]="node.item"></rfof-cage-group-header>
		</mat-tree-node>

		  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
		    <button mat-icon-button matTreeNodeToggle
		            [attr.aria-label]="'toggle ' + node.filename">
		      <mat-icon class="mat-icon-rtl-mirror">
		        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
		      </mat-icon>
		    </button>
		    <rfof-cage-group-header [group]="node.item"></rfof-cage-group-header>
		  </mat-tree-node>
		  
	</mat-tree>
</div>
